body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    background-color: #fff;
}

h1 {
    color: #333;
    text-align: left;
    margin: 0 0 0 2.5%;
}

.alert {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 15px 0;
    border-radius: 4px;
}

.upload-form {
    text-align: left;
    margin: 1% 0 0 0;
}

.upload-form input[type="file"] {
    margin: 10px;
}

.for-actual-upload-img-btn {
    padding: 8px;
    background-color: #a2d5c6;
    color: #333;
    border: none;
    cursor: pointer;
}

.upload-form button {
    padding: 8px;
    background-color: #a2d5c6;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    font-size: 15.5px;
}

.for-actual-upload-img-btn:hover {
    background-color: #7fc5b6;
}

.upload-form button:hover {
    background-color: #7fc5b6;
}

.main-body-container {
    display: flex;
    gap: 10px;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-frame {
    border: 2px solid #ccc;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploaded-img {
    max-width: 100%;
    max-height: 100%;
}

.right-section {
    flex: 1;
    margin: 0 10% 0 0;
}

.progress-bar {
    position: relative;
    background-color: #eee;
    border-radius: 4px;
    margin: 10px 0;
    height: 25px;
}

.progress-bar .fill {
    background-color: #4db6ac;
    height: 100%;
    text-align: right;
    padding-right: 5px;
    line-height: 25px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px 0 0 4px;
}

.progress-bar span {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 25px;
    color: #333;
    font-weight: bold;
}

.likely {
    margin: 20px 0 0 0;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.disclaimer {
    font-size: 14px;
    color: #555;
}

.disclaimer h4 {
    margin: 20px 0 0 0;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #4db6ac;
    margin: 50px 0 0 0;
}